<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>


<hr />
<div>
  <h3>Comment:</h3>
  <% comments.forEach(comment => {%>
    <%= comment.name%> : <%= comment.content%>
 <% })%>
</div>

<a href="/">&larr; Back Home</a>
